@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@import "./config/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: "BurbankBigRegular-Black";
  src: url("./fonts/BurbankBigRegular-Black.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/BurbankBigRegular-Black.otf") format("opentype"),
    url("./fonts/BurbankBigRegular-Black.woff") format("woff"),
    url("./fonts/BurbankBigRegular-Black.ttf") format("truetype"),
    url("./fonts/BurbankBigRegular-Black.svg#BurbankBigRegular-Black")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.fortnite-style {
  font-family: "BurbankBigRegular-Black", cursive;
  font-weight: 400;
}
.fortnite-style-uppercase {
  @extend .fortnite-style;
  text-transform: uppercase;
}

body {
  background: linear-gradient(to bottom right, darken($blue, 15%), $cyan);
  min-height: 100vh;
}

.App {
  padding-top: 2 * $spacer;
  padding-bottom: 4 * $spacer;
  font-family: "Open Sans", sans-serif;
  h1,
  .btn {
    @extend .fortnite-style-uppercase;
  }
  h1,
  h2,
  h3,
  .badge,
  .btn,
  .card-title {
    @extend .fortnite-style;
  }
  .App-header {
    margin-bottom: $spacer;
    text-align: center;
  }
}

.card {
  border: 0;
  margin: 1.25rem 0 30px;
  .card-body {
    padding-top: 0;
    .card-title {
      line-height: 0;
      margin-bottom: 2 * $spacer;
      text-align: center;
    }
  }
}

.navbar {
  @extend .fortnite-style-uppercase;
  padding: 0;
  margin-bottom: 2 * $spacer;
  .navbar-nav {
    .nav-link {
      color: $white;
      &:hover {
        color: lighten($cyan, 30%);
      }
      &.active {
        color: $nav-pills-link-active-color;
      }
    }
  }
}

.PlayerStats {
  color: lighten($cyan, 30%);
  .PlayerStats-header {
    .PlayerStats-level {
      @extend .fortnite-style-uppercase;
      span {
        color: $light;
      }
    }
  }
  .PlayerStats-stat {
    @extend .fortnite-style-uppercase;
    display: flex;
    .PlayerStats-stat-name {
      position: relative;
      overflow: hidden;
      flex-grow: 1;
      &::after {
        position: absolute;
        display: inline-block;
        content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
          " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
        padding-left: 0.5em;
      }
    }
    .PlayerStats-stat-value {
      flex-grow: 0;
      padding-left: 0.5em;
      color: $light;
    }
  }
}

.PlayerStats-chart {
  svg {
    overflow: visible;
  }
  .recharts-pie-label-text {
    @extend .fortnite-style-uppercase;
    font-size: 1.2em;
  }
}
